#counterInput {
    color: white;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    width: 50px;
}

#counterInput.positive {
    background-color: green;
}

#counterInput.zero {
    background-color: grey;
}

#counterInput.negative {
    background-color: red;
}

button {
    font-size: 16px;
    margin: 5px;
}